Importing the Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Analysis

In [ ]:
diabetes = pd.read_csv("/content/Diabetes.csv")

In [ ]:
diabetes.head()

,1,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,6,148,72,35,0,33.6,0.627,50,1
1,3,1,85,66,29,0,26.6,0.351,31,0
2,4,8,183,64,0,0,23.3,0.672,32,1
3,5,1,89,66,23,94,28.1,0.167,21,0
4,6,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
diabetes.shape

(768, 10)

In [ ]:
diabetes.describe()

,1,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,385.500000,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,221.846794,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,193.750000,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,385.500000,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,577.250000,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,769.000000,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
# we need to get rid of column named "1"
diabetes.drop(["1"],axis = 1,inplace = True)

In [ ]:
diabetes["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
diabetes.groupby("Outcome").mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [ ]:
X = diabetes.drop(columns = "Outcome",axis = 1)
Y = diabetes["Outcome"]

In [ ]:
#We need data standardization because our metrics are different
scaler = StandardScaler()
scaler.fit(X)
standardized_data = scaler.transform(X)
standardized_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [ ]:
X = standardized_data
Y = diabetes["Outcome"]

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.25 , stratify = Y,random_state= 9)
print(X_train.shape,Y_train.shape)

(576, 8) (576,)

In [67]:
classifier = svm.SVC(kernel = 'linear')
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [78]:
#WE BUILT THE MODEL. NOW WE ARE EVALUATING SCORE FOR TRAIN DATA
X_train_prediction = classifier.predict(X_train)
X_train_score = accuracy_score(X_train_prediction,Y_train)
print("Accuracy Score on The Training Data:",X_train_score)

Accuracy Score on The Training Data: 0.765625

In [84]:
#Accuracy score of the testing data
X_test_prediction = classifier.predict(X_test)
X_test_score = accuracy_score(X_test_prediction,Y_test)
print("Accuracy score on The Test Data:",X_test_score)

Accuracy score on The Test Data: 0.7864583333333334

In [121]:
input_data = (5,166,72,19,175,25.8,0.587,51)

input_data_as_np_array = np.asarray(input_data)
input_data_column_shaped = input_data_as_np_array.reshape(1,-1)
std_data = scaler.transform(input_data_column_shaped)
std_data

array([[ 4.  , 77.  ,  6.  , -4.  , 81.  , -2.3 ,  0.42, 30.  ]])

In [123]:
prediction_input = classifier.predict(std_data)
if (prediction_input == [0]):
  print("You dont have diabetes with 0.79 probability")
else:
  print(":D")

:D